[2015-04-25 07:53] jkonecki opened #3 "Writing large number of events to the stream"
Currently Stream API throws AgrumentOutOfRange exception when trying to write more than 49 events to a stream.

The limit comes from the technical, implementation detail of WATS batch operations limits and not IMHO from the domain concept of the stream itself. I believe the API client shouldn't worry about such details and Stream API should handle writing events in multiple batches. Otherwise ever

[2015-04-27 10:32] yevhen commented on #3
I agree, that automatic batching is nice to have feature. Thus, it is something that could be easily built on top of current api. I would prefer it to be implemented this way (and adhering to SRP), rather than running with the scissors ;)

If you think about it, the api with automatic batching will be quite different from the current one. For example, imagine that you're writing 1000 events and on

[2015-04-27 11:19] jkonecki commented on #3
Let's do it within this issue.
I'm happy with introducing a new API method that returns a collection of results for each page.
I was thinking about an automatic _rollback_ by deleting already written pages but that may fail as well.

[2015-04-27 11:26] yevhen commented on #3
I want all stream operations to stay ACID. So no "rollbacks", please :)

[2015-04-27 12:24] jkonecki commented on #3
No worries. We don't want to start doing rollbacks  of rollbacks... ;-)

On Mon, 27 Apr 2015 12:26 Yevhen Bobrov notifications@github.com wrote:

[2015-05-03 21:35] yevhen opened #6 "Make idempotence optional"

[2015-05-03 21:36] yevhen opened #7 "Implement auto-batching for writes"

[2015-05-03 21:36] yevhen opened #8 "Add xml documentation to all public members"

[2015-05-03 21:39] yevhen opened #9 "Add sample for how to implement global ordering (with virtual partitions)"

[2015-05-03 21:40] yevhen opened #10 "Consider adding example on how to implement stream directory"

[2015-05-10 10:25] yevhen commented on #7
Duplicate of #3

[2015-05-10 10:25] #7 closed

[2015-05-10 17:36] yevhen commented on #9
Better not to show this as something normal :) Maybe a blog post just for fun ...

[2015-05-10 17:36] #9 closed

[2015-05-31 23:31] #6 closed

[2015-06-03 11:42] gregoryyoung opened #11 "Idempotency Edge Conditions"
I am not finding any tests on some of the bizarre edge conditions that happen around idempotency. As an example:

I write in a batch events 1,3,7
I then write a batch 2,7,14

Is this really an idempotent write? or is it an error.

[2015-06-03 13:21] yevhen commented on #11
Hi man! I'm really proud that you've starred my project. Cool to see you here :)

Yes, you're absolutely right. I should probably reword description. I do provide _duplicate event detection_ feature which could be used by users to implement _idempotence_ but writes are not automatically idempotent.

The user will get back `DuplicateEventException` if the event with the same id was previously store

[2015-06-03 14:47] yevhen commented on #11
Forgot to mention. That behavior is illustrated here https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S09_Handling_duplicates.cs

[2015-06-03 15:10] gregoryyoung commented on #11
This code just feels so weird for me in terms of calling it idempotency can
I make it more fun and throw an IdempotencyException? :)

On Wed, Jun 3, 2015 at 5:47 PM, Yevhen Bobrov notifications@github.com
wrote:

##

Studying for the Turing test

[2015-06-03 16:10] yevhen commented on #11
Well, the code looks absolutely legitimate but the _message_ is not :smile:

No worries, I'll change it appropriately to not confuse the people.

[2015-06-03 16:14] yevhen commented on #11
@gregoryyoung thanks, your feedback is incredibly important for me! Would be happy to see more issues spotted by 'the godfather'  :+1:

P.S. This project is really young :blush:

[2015-06-03 16:41] yevhen commented on #11
@gregoryyoung does it make more sense now? May I close this issue? :smile:

[2015-06-03 16:42] gregoryyoung commented on #11
Yep go for it. I think its just an expectation mismatch :)

On Wed, Jun 3, 2015 at 7:41 PM, Yevhen Bobrov notifications@github.com
wrote:

##

Studying for the Turing test

[2015-06-03 16:43] yevhen commented on #11
Cool. Thanks, man!

[2015-06-03 16:43] #11 closed

[2015-06-06 18:04] #3 closed

[2015-07-02 12:38] pawelpawlow opened #12 "Optimistic concurrency conflicts detection"
I'm not sure how concurrency conflicts (head version) are detected. Say I load all the events from a stream twice (to two instances of an aggregate, say A and B) and then try to save  eventA from A and eventB from B. I  expect concurrency conflict exception for the latter, but both events are saved.
Can you show concurrency conflict detection scenario?

What's the idea behind duplicate event detec

[2015-07-02 13:11] pawelpawlow commented on #12
Should I check the Stream.Version returned by Stream.Open()?

[2015-07-02 14:23] yevhen commented on #12
Hi Pawel,

That's not possible. Could be confirmed by [this](https://github.com/yevhen/Streamstone/blob/master/Source/Streamstone.Tests/Scenarios/Writing_to_stream.cs#L32) passing test. Except that you're doing something wrong. I suspect that you open stream on each write.

You should open/create stream when loading/creating aggregate and hold returned `Stream` header.  Then you need to use (and u

[2015-07-02 14:49] yevhen commented on #12
Event id is a unique id of the event itself. Primary use is for implementing idempotence.

Suppose that you're processing commands off of the durable queue. Now you're dealing with 2 separate transactional resources - queue and event-store. Having distributed transaction between them is either impossible (common case in a cloud environment) or undesirable (for performance reasons), so that occasio

[2015-07-03 06:29] yevhen commented on #12
@pawelpawlow Does it help?

[2015-07-03 09:54] pawelpawlow commented on #12
Yes, thank you for the clarification and the Orleans example.
I'm want to use Streamstone to implement event sourced repository for my CQRS DDD app. My Aggregates have int Version property that I would like to use for concurrency conflict detection.
If I check stream's version after open(), will this be enough to detect possible concurrency conflict?

[2015-07-03 10:09] yevhen commented on #12
Nope. You should hold returned Stream header and use it for subsequent
operations and replacing it after each write.

2015-07-03 12:54 GMT+03:00 PAWEŁ PAWŁOW notifications@github.com:

[2015-07-03 10:48] pawelpawlow commented on #12
Ok, I think we can close this one.
It would be very helpful If you provide a Streamstone version of the [Greg Young's Simple CQRS](https://github.com/gregoryyoung/m-r) :) - or at least some guide lines.

[2015-07-03 10:49] pawelpawlow commented on #12
Regarding the event id - yes, I'm processing commands, but each command can produce multiple events that I want to store. If I introduce unique command id and combine it with say the index of the event it has produced, then this may serve as unique event id, I think?

[2015-07-03 10:49] #12 closed

[2015-07-03 12:46] yevhen commented on #12
Yes, That what everyone do.

2015-07-03 13:49 GMT+03:00 PAWEŁ PAWŁOW notifications@github.com:

[2015-07-03 12:47] yevhen commented on #12
I'm working on that :)

2015-07-03 13:48 GMT+03:00 PAWEŁ PAWŁOW notifications@github.com:

[2015-07-06 09:48] turowicz opened #13 "Multitenant concurrency?"
Will the following example throw concurrency exceptions for multitenant operations too?

https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S08_Concurrency_conflicts.cs

[2015-07-06 10:28] yevhen commented on #13
I'm not sure I'm following you on this. What do you mean by multi-tenant?

There various ways how you can model multi-tenant apps with Streamstone.
1. One physical partition for tenant, virtual partitions (inside that physical partition) for each stream. That way you _can_ have transaction around writing events into a stream and writing some entities at partition level. That's how inline synchrono

[2015-07-06 10:32] yevhen commented on #13
Checkout  `Include.XXX` class and sample [here](https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S06_Include_additional_entities.cs) for how you can include additional entities when writing events (within same transaction).

[2015-07-06 13:27] yevhen commented on #13
@turowicz Can I close this?

[2015-07-07 09:34] #13 closed

[2015-07-07 09:34] turowicz commented on #13
thanks!

[2015-07-15 13:35] jkonecki commented on #10
As a user of Streamstone I would like to retrieve the list of
- all the existing streams
- all the streams in certain partition.

[2015-07-23 21:17] gabikliot opened #15 "Support for Subsribing/Consuming events"
I have a question if you plan to support (or maybe already support) an consuming events from StreamStone like a queue? So that I can "subscribe" logically to it and will be pushed/notified when new event is appended?
Something like the new DynamoDB streams: http://www.allthingsdistributed.com/2015/07/dynamodb-streams.html

**EDIT:** Is that [Reading from a stream](https://github.com/yevhen/Streams

[2015-07-23 21:24] gabikliot opened #16 "Dead links to application examples"
In the READE.md there are 2 dead links:
•Creating projections [see]
•Querying events [see]

[2015-07-25 13:04] yevhen commented on #15
Hi @gabikliot !

Cool to see you here. Glad you liked the project :smile:
Now, regarding your questions:

yes. Event stream is intrinsically a queue. You can consume event stream in that way.

Streamstone is a serverless, stateless, in-process library. It's just a thin layer on top of WATS that fully implements event-store semantics (using WATS tables/partitions). So there is nothing that you can

[2015-07-25 13:06] yevhen commented on #16
Hehe, that's on purpose. To nag me to finally find time and complete it :wink:

[2015-07-25 21:43] yevhen commented on #10
Hi @jkonecki!

I finally found time to resolve this issue.
Hope, you will find the description below helpful.

There 3 possible approaches for how can you build and maintain stream directory, depending on how you partition your streams:
1. Multiple streams per single physical partition (virtual partitions) using stream properties.
2. Multiple streams per single physical partition (virtual partitio

[2015-07-26 17:27] #8 closed

[2015-07-26 22:13] yevhen opened #17 "Provide more convenient way to create/open streams"
In stateless event-sourced applications, usually only the original version of the stream is known and not the Etag. This makes for particularly nasty pattern of TryOpen/CheckVer like the one below:

[code]
I believe that SS can provide more convenient way of opening/creating streams.

[2015-07-27 06:24] jkonecki commented on #10
Yes, thank you!

[2015-07-27 07:39] #10 closed

[2015-07-29 02:58] gabikliot commented on #15
Thanks for your answers @yevhen !
So lets see if I got it right:
1) For Commands single consumer only .
2) For Projections may have multiple consumers.
3) In both cases there is currently no push based delivery mechanism.
4) Pull is done by reading starting from the  sequence id  that is provided by the reader (client).
5) Order on ingestion (write) is provided by client specifying sequence id - t

[2015-07-29 04:13] yevhen commented on #15
Correct!

Yes, but transitively. Since consumers give back etags, which coud be equated to giving back last version seen. It goes like this:

_Consumer_: last time when I've read this stream it was of version 8 (sequence id) and you gave me this etag. Now, I want to append 10 events and I give you etag I've got from you back then. I do expect that stream is still untouched since I last read it.
_P

[2015-07-29 04:37] yevhen commented on #15
BTW, Greg's event store has an ability to ignore stream version and just append events to an end, effectively making it a distributed log. But that's only possible since his Event Store is a fully-fledged server application while SS is serverless library.

[2015-07-31 06:33] gabikliot commented on #15
Got it!

So according to event-sourcing theory, event-sourcing by definition is for single writer (as you wrote above)? But you just gave an example with invoice of 2 writers?

[2015-08-02 14:33] yevhen commented on #15
Sorry, mistype on my part. It should be "according to DDD theory". Aggregates and all that.

In the example I gave you there is a singe writer at a time. It's single writer since other writers do care that the value hasn't changed since the time they have read it. Optimistic locking is usually employed to implement this behavior.

Azure queues and Orleans streams have different semantics. They all

[2015-08-03 21:41] gabikliot commented on #15
Sorry, but what you just wrote really confuses me: "It's single writer since other writers do care that the value hasn't changed since the time they have read it."

If there are other writers, it cannot be a single writer, ... by definition of what single means. Especially if other writers care.

Are you saying  it is a "singe writer at a time", so in any  given time period (**any** time period) t

[2015-08-03 21:53] yevhen commented on #15
Well, let call it like you're suggesting. The point is: writing to a stream concurrently is not possible.

[2015-08-03 21:58] gabikliot commented on #15
Got it! Makes sense. Thanks for clarifying.

[2015-08-03 21:58] #15 closed

[2015-08-24 08:06] jkonecki opened #20 "Partition key and row key are not trimmed"
Reported by @aprooks through gitter:

Partition key and row keys are not trimmed. Got extra spaces for "partition | stream" pattern
```PartitionKey = "partitionPrefix "; ```
```RowKey = " 0|SS-HEAD"; ```
```RowType = "Stream"; ```
```Timestamp = 21.08.2015 19:05:45 +00:00;```

https://gitter.im/yevhen/Streamstone?at=55d7781c4eff2e77653840b1

http://prntscr.com/87btca

[2015-08-24 09:09] jkonecki commented on #20
Based on the screenshot of F# code it looks like @aprooks constructs stream key with spaces around pipe in line:

`|> Seq.map (sprintf "%s | %d" "partitionPrefix")`

I'll create a PR with trimming for such a case.

[2015-08-24 09:44] jkonecki commented on #20
Thinking about this change I believe we should leave the code as it is and do not trim whitespaces.
My reasoning is that the trimming just Partition Key and Row Key will leave the whole Key (and other keys) out of sync (also `.ToString()`) - that can cause confusion. Unless we trim the content of the Key itself.

I think if the user provided spaces in the stream name those should be treated as mea

[2015-08-24 10:15] aprooks commented on #20
You have confirmed some of my thoughts. Most probably I would expect only separate values to be trimmed. Like if we provide createKeyOf("prefix   ","  stream  ") values would be "prefix" and stream.

But I still have a feeling, that a situation when you could easily end up with non-trimmed keys in  a storage could lead to some very nasty bugs.

[2015-08-24 10:24] jkonecki commented on #20
Another option is to introduce two constructors:

`public Partition(CloudTable table, string partitionKey)`
`public Partition(CloudTable table, string partitionKey, string rowKeyPrefix)`

and trim input values.

Or use optional parameters instead of overload:

`public Partition(CloudTable table, string partitionKey, string rowKeyPrefix = "")`

[2015-08-24 10:51] aprooks commented on #20
sounds good.

What do you think about following to distinguish 2 ways even more?

[code]

[2015-08-24 10:53] jkonecki commented on #20
Nice! Need to wait for @yevhen to decide.

[2015-09-03 11:09] yevhen commented on #20
@jkonecki

I think the same.

Exactly. I hate when stuff got changed behind my back without my permission. For that reason I always use `core.autocrlf = false` in Git.

@aprooks

Yes. But think about it from the other angle. If we automatically trim user provided key we can give him the same troubles, breaking his original intent. That also breaks the "Principle of Least Surprise" which good API s

[2015-09-03 15:59] #20 closed

[2015-09-20 17:49] #17 closed

[2015-11-12 09:38] pawelpawlow opened #22 "Method not found: Microsoft.WindowsAzure.Storage.Table.TableOperation.Retrieve"
Streamstone doesn't work with WindowsAzure.Storage 6.1.0 because Retrieve() signature has changed (has new optional parameter) and is now binary incompatible with previous versions of the library.
@yevhen, would you please update nuget references (at least WindowsAzure.Storage to v. 6.1.0), recompile and publish new Streamstone nuget.

[2015-11-12 10:01] #22 closed

[2015-11-12 10:35] pawelpawlow commented on #22
That was fast :) Can you please publish the nuget package as well?

[2015-11-12 12:03] yevhen commented on #22
already!

[2015-11-12 12:08] pawelpawlow commented on #22
thanks :)

[2016-04-11 16:39] eulerfx opened #24 "Support for global log (e.g. $all stream in EventStore)"
This would support the approach nowadays referred to as [bottled water](http://www.confluent.io/blog/bottled-water-real-time-integration-of-postgresql-and-kafka/).

One way would be to do an additional insert, into a row space ordered by a global timestamp. Then at read time, a merge sort across partitions.

[2016-04-11 17:35] yevhen commented on #24
Hi Lev! Cool to see you here.

Nice idea. That could be implemented but will require few additional things:
1. Stream directory. At the moment SS doesn't maintain directory of all streams. There [samples](https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S10_Stream_directory.cs) for how to implement that, which is really trivial. Anyway, that feature is on roadmap and will

[2016-04-11 20:09] yevhen commented on #24
BTW, one of the drivers behind birth of SS was to have an ultra-scalable cheap PaaS event store by avoiding global ordering of events.

Jay Kreps talks about log partitions in Building a Scalable Log section [here](https://engineering.linkedin.com/distributed-systems/log-what-every-software-engineer-should-know-about-real-time-datas-unifying). What he describes are actually DDD aggregates each map

[2016-04-12 05:42] jkonecki commented on #24
I think the link to Jay's talk is broken.

[2016-04-12 08:29] yevhen commented on #24
@jkonecki thanks. fixed!

[2016-04-12 08:32] yevhen commented on #24
AFAIK, Greg is able to provide `_all` feature and be perfectly ACID only due to EventStore being a single partition.

[2016-04-12 13:45] eulerfx commented on #24
This global stream only needs to maintain order with respect to events within individual streams, but not necessarily across streams. One approach is to do a transactional dual write in AT - one row corresponding to the event in an individual stream and another entry in a global log. This way, you split a partition into two halves - one containing all global log . This global log would be ordered

[2016-04-12 19:42] yevhen commented on #24
Now I'm confused. What did you mean by _global timestamp_ previously? My understanding was that it's some monotonically increasing counter like in GY EventStore or some form of the Lamport Timestamp. But seems it's not.

Yes, SS guarantees that for individual streams. It's fully ACID.

Nope, since AT transaction is supported only within boundaries of a single partition. Basically, stream directory

[2016-04-13 07:50] jkonecki commented on #24
@eulerfx It seems to me as well that you're not looking for a _global_ timestamp but just for a timestamp which is already supported. Global ordering between streams could be achieved by implementing vector clock - as @yevhen mentioned synchronisation in distributed system is very difficult.

[2016-04-13 14:23] eulerfx commented on #24
I was referring to a possible implementation. It could also be a monotonic integer, but this would require a central authority to generate it. Using a wall-clock timestamp is one way to go. (I can already hear a co-worker calling out true time...) One challenge here is with commitment ordering.

Not sure how a vector clock would apply. I'm proposing that you don't need global ordering across diffe

[2016-04-13 15:22] jkonecki commented on #24
I think you have the implication the wrong way round.
Also the above is _not_ a global timestamp as it's local to the stream. Streamstone does support ordering within a single stream.

It is unclear what are you asking for: on one hand you're mentioning a global timestamp but on the other you're providing examples that do not involve a global timestamp.

Global timestamp would be described as:
`G(

[2016-04-13 17:08] eulerfx commented on #24
For the purpose of this discussion, I'm defining `G` as the global timestamp (or alternatively version), with global meaning that it is defined for all events, in all streams (within some namespace, such as all shopping cart events). The reason I wrote the implication that way I did is, we already have total ordering within individual streams and we're specifying the meaning of `G` based on that.

[2016-04-14 22:37] Scooletz commented on #24
`EventStore` internally uses the physical log position for ordering all the events. When using a sharded, non open source version it correlates logs in a given time window, AFAIK, still using the log positions of singular shards. A good summary of different strategies for providing data to queries can be found at  [ReaderStrategy](https://github.com/EventStore/EventStore/blob/release-v3.6.0/src/Ev

[2016-04-15 04:45] Scooletz commented on #24
One more proposal of providing such an indexer. When one creates a new stream, before storing the head and the first event, the name of the stream is stored in the indexer partition. Then, the normal Streamstone storage operations are applied. This ensures a property, that indexer does not have to scan other tables to find streams, but rather queries stream after stream directly.
I'm aware of Azur

[2016-04-15 15:39] eulerfx commented on #24
It can be using AT, since it provides transactional writes of up to 100 rows in a partition. This library already makes use of this approach.

These limitations are being lifted in the next version. However, it is always possible to distribute across storage accounts much like you distribute across partitions.

EventStore doesn't directly support sharding. The OSS and commercial versions ere merge

[2016-04-15 20:15] yevhen commented on #24
That's what I call _stream directory_.

I don't intend to write/update any of event sequence information to the stream directory but merely store an address (table, partitionId) of a stream, so I can later do an efficient `for (var stream in directory)` from a single partition. Stream directory maintenance could be done via explicit provisioning as @Scooletz rightly pointed.

Interesting. Source?

[2016-05-07 17:42] emragins opened #26 "Example for projections (read model)?"
I followed the "simplest thing possible" example for getting a write-side in place (with some modifications, of course), and I really like the direction my application is headed in.  It was quick an easy with basically no issues.

I'm struggling with developing a sufficiently robust read-side.  Doing everything real-time, while easy to implement and understand, just begs for problems the second so

[2016-05-07 19:43] yevhen commented on #26
You're welcome!

Ye, inline projections in SS are suitable only for simple cases. For anything more involved it's indeed better to follow the patterns established by classic CQRS\ES literature.

Nevertheless, I did some small demo using Greg Young's classic example. See here https://github.com/yevhen/Streamstone.m-r/tree/inline_projections

Thanks for kind words. Be my guest on Streamstones' gitte

[2016-05-09 14:54] Rurouni commented on #24
If the goal is to have <all> for achieving some kind of eventually consistent read-only projection then I have seen such setup working:
before writing entity group transaction with events into master table store you send promise {that stream x is updating } to eventhub, then you have another set of compute (worker role for example) reading that eventhub with delay y seconds (where y is your max al

[2016-05-25 06:53] Neil-p-Hughes commented on #24
I have made an attempt at building a global log and global dictionary. the code is no where near ready for me to submit a pull request but the concepts are working in the basic console app. any pointers would be appreciated

[2016-05-25 15:02] aprooks commented on #24
@Neil-p-Hughes could you share a link please?

[2016-05-25 16:40] Neil-p-Hughes commented on #24
@aprooks
Sure the code is just in my fork of stream stone.
https://github.com/Neil-p-Hughes/Streamstone

[2016-05-25 17:43] Neil-p-Hughes commented on #24
Just to put some discription to what was built

There are two stream collection classes dictionary and log.

Dictionary just tracks the current version of all streams that are registered to it. A stream can be tracked by more then one dictionary at a time. This allows you to create groups of streams that you can pull snapshots of.

Log tracks the same way dictionary does but  splits the data into

[2016-05-27 22:16] yevhen commented on #24
Hi @Neil-p-Hughes!

I'm now on vacation. I promise I'll take a look once I'm back (in few weeks) :smile:

[2016-06-03 15:33] Scooletz commented on #24
@Neil-p-Hughes I took a look at your implementation and I've got one concern. I've seen how you augmented the `Write` in [this line](https://github.com/Neil-p-Hughes/Streamstone/blob/ac66ae680234ac13dfe6f98ff13f413226e2d2c6/Source/Streamstone/Stream.Operations.cs#L129). As far as I understand, if storage operations start failing after committing stream batches, writes to a dictionary/log might not

[2016-06-29 12:52] alexjustus commented on #24
We use a globally incrementing ID rather than a timestamp. This gives us sequential order without worrying about timestamps and clock drift.

The steps are:
1. Read the current global ID and increment it by 1 for each new event we are saving.
2. Store the updated global ID.
3. Since we've now got a pre-allocated block of IDs, insert the Guid of each new event into a "Dispatch" table along with its

[2016-07-01 03:53] alexjustus commented on #24
OK I've successfully cut over to my new method mentioned above. The Dispatch events are now stored in the events table itself.

I'm using `EventIncludes` (based on the [Scenario 6 example](https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S06_Include_additional_entities.cs)) so that all events are sent to AT in a single batch.

Here's how it looks:
![streamstone global ide

[2016-07-06 15:33] alexeyzimarev commented on #26
The issue there is as usual that writing events and publishing them to projections are two separate operations that involve independent infrastructural component. And since they do not run in a transaction, one could fails without the other knowing about it. For example, in your sample events are being published to projections and then written to the event store. It means that projections could up

[2016-07-21 14:20] endeavour commented on #24
How close is this to being ready? I'd love to use streamstone for a project but this functionality is a dealbreaker.

[2016-07-22 08:54] yevhen commented on #24
Not even started. There is plenty of choices with various tradeoffs how this could be implemented discussed above. Choose the one that suits your app.

[2016-09-08 23:15] yevhen commented on #24
Curious, what do you think, should this global log guarantee `exactly-once` semantics or `at-least-once` will be ok? So whether it's ok for global log to report same event (with same uuid) more than once, ie give it different global number/timestamp?

Should consumers be idempotent?

[2016-09-09 04:37] Scooletz commented on #24
If we can do it, it should be both, so `exactly-once` semantics for logs and idempotent consumers. Let me explain.

If this global log would ensure only `at-least-once`, then to remember that a particular event was dispatched you'd need to remember either it's id, or if that is not present, it's partition/stream and a version number. This is a lot of data to store. Of course one could optimize and

[2016-09-09 08:10] yreynhout commented on #24
I'm thinking about writing my own global log using a combination of _StreamDirectory_ and _Windows Azure Blob Storage (Append Blob)_. Single writer responsible for doing this (which also implies single point of failure so it'll need some kind of supervision/watchdog). Asynchronous, in or out of process, haven't decided yet. The single writer brings some ease in that I can easily create a monotonic

[2016-09-09 08:23] yevhen commented on #24
@Scooletz nah, I meant domain-level idempotency, and not infrastructure, which is what sequence id based approach.

@yreynhout it's not that hard to build highly performant event store with global log on top of SS if clients could tolerate duplicate entries.

[2016-09-09 09:12] Scooletz commented on #24
@yreynhout You should consider using `PageBlob` as well. `AppendOnlyBlob` has a limit of appends per file, which is equal to the number of segments which is 50k. With `PageBlob` you don't have this limitiation and still, you can apply your changes conditionally. Unfortunately, this brings a padding problem (you need to pad to the page boundary).

from https://msdn.microsoft.com/en-us/library/azure

[2016-09-09 09:13] Scooletz commented on #24
@yevhen Domain-level? Why this can't be done as a tool on the infra and provided for the domain to use?

[2016-09-09 10:09] yevhen commented on #24
@Scooletz because it's impossible to do without sacrificing throughput. Either you have `exactly-once` and are limited to a throughput of a single partition (C), or you have best possible throughput but with `at-least-once` (AP). I can't think of any solution that will give both.

In the @eulerfx approach with weak global timestamp and merge-sort across partitions you will still have duplicate ent

[2016-09-09 19:40] Scooletz commented on #24
@yevhen Let me shortly describe one of the possible approaches. If the description isn't clear, ping me.

What you could do is to do the following. Provide a few virtual partitions, lets say 16 ("00", "01", "02" ..., "15"). When events writing to a stream, you'd include `Insert-Or-Merge` that would put a `Guid` under the partition key. The property name for the written Guid value would be a hash o

[2016-09-10 00:22] yevhen commented on #24
Ye, I get that approach. But it still have this problem. The crash of the chaser, which as I understand is _the thing_ that will be building a global log can lead to a duplicate entry.

[2016-09-10 04:27] Scooletz commented on #24
Not at all. If the chaser used a single partition to write its entries (potentially, a separate table), it could in a batch
- INSERT indexing entries like

[code]
- REPLACE stream version information

[code]

ensuring that it writes log entries and streams' versions together and marking events as dispatched. Yes, in this scenario log throughput is limited to one partition only.

[2016-09-10 11:16] yevhen commented on #24
That's what I said before :)

[2016-10-01 21:24] ChrisSimmons opened #28 "Support .NET Core"
The primary pieces which I see as challenges on this:
- Current state of Azure Table Storage SDK, which apparently supports string-only queries (as opposed to LINQ-style)
- NUnit and it's [current beta support for Core](https://github.com/nunit/dotnet-test-nunit)

I'll work on this and submit a PR. Unless of course someone else is working on this?

[2016-10-01 22:49] yevhen commented on #28
Wow, awesome! That would be super cool.

I'm only worried about string-only queries. Will probably make my very beatiful code look uglier 😄
But I can live with that.

Anyway, looking forward to your PR!

[2016-10-01 22:52] yevhen commented on #28
If you need any help or want to discuss we have a chat room here https://gitter.im/yevhen/Streamstone

[2016-10-01 23:37] ChrisSimmons commented on #28
Indeed, it's breaking my heart seeing the clean LINQ turned into strings.  But Microsoft does offer somewhat readable helper classes.

I'm admittedly _not_ an expert at working with Core, but I'm hoping to get a passable equivalent and make all the tests pass.

Thanks, yes I'll ask questions on Gitter as I'm sure I'll have some...

[2016-10-02 19:19] yevhen commented on #28
@ChrisSimmons looking at some of the commits I've noticed xproj and project.json. But isn't this thing is already dead according to this? https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/

[2016-10-02 21:11] ChrisSimmons commented on #28
@yevhen, good question.  It does appear that Microsoft will move back to .csproj and MSBuild.  However, `*.xproj` and `project.json` are what was part of .NET Core RTM at the end of June.  A better way to say it is that it _will be_ dead at the Visual Studio 15 RTM.  Until then, we have `*.xproj` and `project.json`.  The promise from Microsoft is that the projects will auto-convert then.  It's eit

[2016-10-02 21:15] ChrisSimmons commented on #28
BTW, please forgive the high commit count.  This is simply my method of work, breaking each commit into a "digestible bite" of work.  I hate huge diffs, especially when they cover more than one logical change.

[2016-10-02 21:15] yevhen commented on #28
Ok, make sense. Don't rush. Ye, it might be better to wait a bit until full Core support from AzureSDK and NUnit (ExpectedObjects could be substituted to FluentAssertions, but I'm not sure about support of Core in this testing library). Thanks for taking this effort!

[2016-10-02 21:16] yevhen commented on #28
No problem at all - I use the same method. At the end - they could be squashed in a single commit anyways :)

[2016-10-02 23:07] ChrisSimmons commented on #28
With [this branch](https://github.com/ChrisSimmons/Streamstone/tree/net461), I have the project running and all tests passing with very little change to the original code.  The only change I made to actual code was to the test code, and then only for async things which changed in the latest NUnit.

The problem is that it's actually a "net461" project, not Core.  And the _[other branch](https://git

[2016-10-03 08:49] yevhen commented on #28
Ok, let's leave this issue open and return it once AzureSDK is ready.

[2016-10-13 21:17] kellypleahy commented on #24
I'll describe what we did in our own EventStore that's now been in production use for several years now at my previous employer.
1. when inserting new rows into a stream, we first insert a record into the "last write" partition (I can't remember what it is called, but there's a single partition with all "last write" records).  The row key is the stream name, and the record contains the highest num

[2016-10-14 07:33] Scooletz commented on #24
@kellypleahy What about the case, where the second write, the real append to the stream fails? Then you're left with a "last write" that points to an non existing event. How do you deal with this scenario? Does it make the chaser to loop infinitely?

[2016-10-14 15:48] kellypleahy commented on #24
@Scooletz We consider this a non-issue for the following reasons (in our usage, YMMV).
1. most of the time, when the write fails, the command that was being executed will retry, get a new 'start sequence', and save, thereby replacing the "bad" record with a "good" one.
2. if (1) doesn't happen, the only real disadvantage is that while that "bogus" record is there, the updater will read an extra st

[2016-10-14 16:20] Scooletz commented on #24
I see your reasoning now @kellypleahy Thanks for the explanation. Still, I prefer to stick to the strong consistency using batches and the approach describe by me above. This has limitations of throughput though.

[2016-12-05 23:05] galvesribeiro commented on #28
Hey guys, do we have any ETA on get .Net Core support for SS?

Azure SDK is long ago supported for .Net Core and we use in Orleans Port just fine. The major problem is NUnit that its dotnet cli support is broken since it doesn't support the "new" MSBuild projects yet and according to the project maintainers, there is no guarantee on get it to work soon https://github.com/nunit/dotnet-test-nunit/is

[2016-12-05 23:39] yevhen commented on #28
Cool, help is very welcomed!

I like you your plan. We hit the wall with NUnit and stopped there. Also, AFAIK linq queries are not supported in Azure Core sdk.

Can't wait for you PR 😋 !!!

[2016-12-06 02:11] galvesribeiro commented on #28
@yevhen Look at #29 when you can. 💃

[2017-01-07 15:11] danialwestmorland opened #31 "S09_Handling_duplicates returns a null reference exception"
When running the example S09_Handling_duplicates the expected exception should be DuplicateEventException. However, when running the example myself I get a NullReferenceException:

![image](https://cloud.githubusercontent.com/assets/9944657/21742631/d42b477a-d4ea-11e6-8bc8-289f48ff9b1d.png)

It looks like 'exception.RequestInformation.ExtendedErrorInformation' is null and there's no path that can

[2017-01-07 21:06] yevhen commented on #31
Which Azure SDK version? Running against local storage emulator? Version?

[2017-01-07 22:18] danialwestmorland commented on #31
I'm running it with Microsoft Azure Storage Emulator with the following versions:

- Microsoft Azure SDK 2.9.6
- Microsoft Azure Storage Emulator 4.6.0.0

Both of these are the latest versions from Microsoft.

[2017-01-08 12:20] yevhen commented on #31
that could be a source of problem. I haven't tested code with those versions. Try running test suite

[2017-02-11 16:04] baluubas opened #32 "Batching support"
Hi,

In a project I'm currently working on I've come across a scenario where batching support could possible save a lot of roundtrips.

My scenario is this: I have an partition/stream for each `CustomerAccount`, this corresponds to an aggregate root which have a `balance` property. In my domain I have commands that affect the balance of nearly all `CustomerAccounts`. Currently I open a stream and

[2017-02-11 16:09] jkonecki commented on #32
How are you processing the command that affects a huge number of
aggregates? I assume you send a command to each aggregate - and each
aggregate can accept or reject this command.
How do yo see batching working across multiple aggregates? How would you
collect the events to batch from multiple aggregates? Are your aggregates
distributed across several machines?

On Sat, 11 Feb 2017 4:04 pm Anders P

[2017-02-11 16:47] baluubas commented on #32
I'm using something similar to the CommonDomain repository interface that was described here https://geteventstore.com/blog/20130220/getting-started-part-2-implementing-the-commondomain-repository-interface/.

This might be the wrong approach but I have a single command (basically containing a huge list of CustomerAccount id's) and command handler that updates all aggregates (using the repository

[2017-02-11 16:48] yevhen commented on #32
Batching is supported per single stream, but not across streams. Table storage doesn't support cross-partition writes.

[2017-02-11 17:01] baluubas commented on #32
I figured that there could be some limitation like this :(

The stream approach is fine. I'm just a bit worried that since these bursts of requests might cause problems with the scaling limits and cause timeouts as the service load balances out tables. Not sure this is an actual problem, more of a premature optimisation.

[2017-02-11 17:05] yevhen commented on #32
You need to redesign your approach. Does your batch need to be transactional? If no - simply put all commands contained in a batch into a queue and then process one-by-one. If yes - ask why? Perhaps your aggregates have wrong boundaries, or maybe there is a requirement misinterpretation

[2017-02-11 17:07] yevhen commented on #32
You can also use Competing Consumers pattern to scale queue processing

[2017-03-08 12:21] yevhen commented on #31
@danialwestmorland update emulator to 5.1 https://github.com/Azure/azure-storage-net/issues/408#issuecomment-284915540

[2017-03-08 12:21] #31 closed

[2017-03-20 12:04] #32 closed

[2017-03-20 12:05] #26 closed

[2017-03-20 12:05] #16 closed

[2017-03-29 07:23] perokvist opened #33 "1.1 Nuget - Dependecy and .net version - mixed messages"
I seems that the release statment and the nuspec tell different stories.
nuspec has a net45 folder and a dependency on Storage 7.2.1.
The release notes says that is build targeting 461 and Storage 8.X .
I get errors using 1.1 due to that the dll seems to ref 8.X but the nuget installs 7.2.1.

[2017-03-29 09:36] yevhen commented on #33
Right. My bad. Fixed. Grab v1.1.1

[2017-03-29 09:36] #33 closed

[2017-05-03 07:21] mmisztal1980 commented on #28
@yevhen I was curious about this issue's progress? it's been 6 months since last comment was made? I take it it's not resolved yet?

[2017-05-03 16:46] galvesribeiro commented on #28
@mmisztal1980 I'm waiting the nUnit to finish the .Net Core port (it is very close) so I can finish the migration here.

[2017-05-03 17:08] mmisztal1980 commented on #28
Why not use xunit instead? It has supported netcore for a while now

Dnia 03.05.2017 o godz. 18:46 Gutemberg Ribeiro <notifications@github.com> napisał(a):

[2017-05-03 17:35] galvesribeiro commented on #28
@mmisztal1980 I made the same question before, I personally don't like nUnit and use xUnit all over the place, but that is a philosophical debate and I think we should avoid it :)

Lets just wait a bit more so nUnit release it (I'm monitoring closely the progress with their devs) and I can update the projects here.

[2017-05-03 20:27] mmisztal1980 commented on #28
do you have an ETA from them?

[2017-05-03 20:45] galvesribeiro commented on #28
They are going to release an stable-ish beta soon. When it is out, and if @yevhen agree on have the beta dependency on the tests, I can do the work.

I'm also interested on use it on .net core, believe me. I've keeping a custom local build here which is a nightmare to deal with versions and my CI environment. So trust me, I want it out asap...

[2017-05-06 09:45] mmisztal1980 opened #34 "Q: Does StreamStone support in-memory testing like EventStore's embedded IEventStoreConnection ?"
As title says, I'm starting to play around with Streamstone and I'd like to write some tests that don't require my azure storage emulator to run all the time?

I think EventStore supports it via the `EventStore.Client.Embedded` package. Does Streamstone have a similar feature?

Best regards,
Maciej

[2017-05-06 16:42] yevhen commented on #34
Nope. Running tests against local storage emulator is extremely fast. Why do you need that? What problem will it solve?

[2017-05-06 16:44] yevhen commented on #28
I think we can release beta package if you need it now

[2017-05-07 08:18] mmisztal1980 commented on #34
This would mostly serve test automation. Some of our CI environments are managed by folks who are extremely reluctanct to install anything but msbuild, targeting packs and sdks :) we prefer to be able to cut ourselves from our umderlying infrastructure.

[2017-05-07 09:23] yevhen commented on #34
Well, in this case you can simply test your aggregates against mock (create simple interface for SS stream writes/reads), but I think it's better to test against real infra. Up to you.

[2017-05-17 09:40] andrejohansson opened #35 "Support for drop in replacement using DocumentDb/CosmosDB"
Document DB have now been renamed to Cosmos DB and according to the documentation it should be able to act as a drop in replacement for Azure table storage. It sounds like if this is true, it should be a trivial matter to add suppport for it?

You need to use the new Azure Preview SDK in order to get the features to connect to Cosmos but the api should be compatible with the existing  storage Api.

[2017-05-17 12:47] #34 closed

[2017-05-22 08:41] yevhen commented on #35
I think we first need to finish the work started on porting to .NET Core and then it will be easier to add support for latest AzureSDK (CosmosDb).

[2017-06-16 13:50] fschmied opened #36 "Implementing read models"
@yevhen Could you elaborate on how to implement read models with Streamstone? Is there a subscription mechanism (like with Greg Young's EventStore) or a complete event sequence with a global ordering (like with NEventStore)? The example links about "creating projections" and "querying events" are broken, and https://github.com/yevhen/Streamstone/issues/26#issuecomment-230809565 looks like there is

[2017-06-16 17:22] yevhen commented on #36
SS allows you to easily create projections for a single stream - you can use stream version which is sequential number. Creating projections across streams was out of scope since SS is just a simple in-process library and for this a global sequence / all stream (like in GY EventStore) is required. Otherwise, if the cardinality of your projection is low you can monitor multiple streams and build pr

[2017-06-16 17:40] fschmied commented on #36
Okay, thanks for the answer.

----- Ursprüngliche Nachricht -----
Von: "Yevhen Bobrov" <notifications@github.com>
Gesendet: ‎16.‎06.‎2017 19:22
An: "yevhen/Streamstone" <Streamstone@noreply.github.com>
Cc: "Fabian Schmied" <fabian.schmied@gmail.com>; "Author" <author@noreply.github.com>
Betreff: Re: [yevhen/Streamstone] Implementing read models (#36)

SS allows you to easily create projections for

[2017-06-21 19:15] #36 closed

[2017-08-20 20:39] yevhen commented on #28
@ChrisSimmons @galvesribeiro This is finally completed by @Soarc in #37, merge and pushed to nuget. Streamstone 2.0 built for netstandard 1.6/2.0. Thanks to all of you guys! Closing this issue.

[2017-08-20 20:39] #28 closed

[2017-08-21 00:45] brcarey opened #38 "Documentation / tests for snapshots"
This is a question: is there any documentation or tests for the snapshot feature mentioned in the readme.md?

[2017-08-21 01:29] brcarey commented on #38
Kudos for the lib by the way, very easy to integrate, and very tidy codebase

[2017-08-21 15:35] yevhen commented on #38
Hi! Ye, this is the most complicated feature and it doesn't have docs ))

Example is [here](https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S06_Include_additional_entities.cs) and more advanced example is [here](https://github.com/yevhen/Streamstone.m-r/tree/inline_projections)

In a nutshell, this feature is based on WATS ability to include multiple entities in a singe

[2017-08-22 06:26] brcarey commented on #38
Thanks, was able to figure it out via looking at S06 (and some trial and error). Have you come across the need to handle event schema changes after an event has been raised in production? Do you just opt for a new version (type) for the event?

[2017-08-22 08:31] yevhen commented on #38
Ye, new version is a better option, but it depends on consumers. If you are the only consumer and event changes are non-breaking (ie new field with default value added) and old events could be replayed safely - I just add it to existing ))

I would recommend getting this book https://leanpub.com/esversioning

[2017-10-12 13:44] andrejohansson commented on #35
@yevhen I see that the nuget package now builds for netstandard, doeast it mean AzureSDK can be added now? :-)

[2017-10-14 18:06] yevhen commented on #35
@andrejohansson I think so. Do you have vision on how best to proceed with that? We can discuss the approach and I'll surely accept PR? ))

[2017-10-14 19:12] #38 closed

[2017-10-16 06:30] andrejohansson commented on #35
For a brute force approach, I just wanted to try to replace it and se if something starts at all.

I´ve tested the following:

- Clone your project
- Replace the Storage nuget package with the PremiumTable on. Building goes fine.
- Created a Cosmos DB with the table storage model
- Referenced the project from our main solution
- Tried to run, but I get invalid calls for pretty much all api calls (

[2017-10-16 08:22] yevhen commented on #35
I don't want to switch (*replace*) WindowsAzure.Storage dependency to CosmosDb. The vast majority of SS users use the former. I'd like them to co-exist. I think it would be better to create another package like Streamstone.CosmosDb for that.

I see it like this:
1. Create second set of project files which do reference CosmosDb. So in every folder there will be XXX.CosmosDb.proj (Example.CosmosDb,

[2017-11-07 20:30] MNF opened #39 "Does the package target .NET Core or .NET Framework 4.6.1 ?"
In the readme.md there is a phrase that we need .NET Core SDK 2.0 **and** .NET Framework 4.6.1 .
Does it mean, that the project  targets full .net framework and can’t be run on other platforms like Linux?

[2017-11-07 20:54] yevhen commented on #39
Nope. The package itself targets .NET Standard 2.0. Which means you can use it either on full .NET framework (Win) or on .Net Core (Win/Linux). The example app and unit tests target .NET Core (since entry points need to specify particular version of CLR as per .NET requirements) which means you can run them both on Windows and Linux, but you will need to have .NET Core installation.

[2017-11-07 20:58] yevhen commented on #39
I've removed confusing statement from README (https://github.com/yevhen/Streamstone/commit/daf61ad5e58453b0ee4964d4335690fbc2709c68)

[2017-11-11 12:06] #39 closed

[2017-11-19 10:11] yevhen commented on #35
I believe we can close this one. Check out this announcement https://azure.microsoft.com/blog/announcing-the-general-availability-of-azure-cosmosdb-table-api/

It means to take advantage of CosmosDb only connection string need to be changed. No need to switch SDK

[2017-11-19 10:11] #35 closed

[2017-11-21 07:52] andrejohansson commented on #35
Nice! Hoping to get time to try this out soon.

[2017-11-21 10:37] 2moveit opened #40 "Support netstandard 1.4"
Hi, is it possible to support netstandard 1.4 or less? I saw that you already removed support for ns16.
I have problems referencing the ns 2.0/1.6 in my net461 project.
Supporting a lower netstandard version would also target a bigger range of plattforms. As far as all APIs are available that shouldn't effect your work and the user can decide what version he takes as all are shipped in the nuget p

[2017-11-21 10:53] yevhen commented on #40
You can try SS 1.x. It's built against full .net. There were no substantial changes between 1.x and 2.x except targeting and removal of sync apis.

[2017-11-21 10:55] yevhen commented on #40
NUnit3 adapter is only available for netstd20. But maybe we can multi-target at package build time. I've tried multi-targeting and it was confusing R# at the time. It might be fixed in newer versions but I haven't tried.

[2017-11-21 11:24] 2moveit commented on #40
Yes, SS 1.x works fine. I just want to stay on the latest version to avoid later migations with more trouble and it makes contributing easier.

[2017-11-21 12:54] yevhen commented on #40
Just stay away from sync methods and you should be fine.

[2017-12-01 02:41] johlrich opened #41 "Exception could be improved for request rate exceeded on a cosmosdb backed table"
If you hit your provisioned RU/s rate limit you'll currently get the following message:

[code]

The exception has `HttpStatusCode` set to `429` it could be used to instead throw a nicer exception about rate limits + suggesting a retry.

The only bummer is that I don't see a way using the `StorageException` to get at the http response header `x-ms-retry-after-ms` which contains how long you must w

[2017-12-01 22:31] yevhen commented on #41
I'll have a look on a weekend. Should be doable.

The only bad thing is that I have absolutely no idea how to write a failing test for this scenario. Perhaps, we can try to create an *explicit* test which could be run manually against real CosmosDb (not emulator) .

[2017-12-02 09:06] jkonecki commented on #41
CosmosDB emulator supports rate limiting - there is an option in the
context menu of the tray icon to enable / disable rate limiting.

On Fri, 1 Dec 2017 22:31 Yevhen Bobrov, <notifications@github.com> wrote:

[2017-12-02 10:34] yevhen commented on #41
@jkonecki  Oh, cool! Didn't know. I don't even have it installed on my machine ))

[2017-12-02 12:05] yevhen commented on #41
@johlrich How do you connect to table api? Connection string format? Have you tried running against local cosmosdb emulator?

[2017-12-02 14:27] johlrich commented on #41
Normal connection string format for Storage Tables, just different url worked against an account provisioned in the portal: `DefaultEndpointsProtocol=https;AccountName=youraccountname;AccountKey=...;TableEndpoint=https://youraccountname.table.cosmosdb.azure.com:443/;`

Unfortunately, I don't believe the emulator can be used at this time since it doesn't support the table endpoints.

[2017-12-02 14:38] johlrich commented on #41
@yevhen  For manual testing, folks without a current azure subscription should still be able to run the test with one of the time limited instances they started offering.  https://azure.microsoft.com/en-us/try/cosmosdb/

As an aside, something I'm finding interesting about this approach is that you can still connect to the documentdb api through its endpoint (`youraccountname.documents.azure.com`)

[2017-12-03 19:25] yevhen commented on #41
I've checked it and I'm afraid that Azure SDK doesn't correctly handle the throttling scenario. What's interesting is that I've then inspected (with Fiddler) the api response and it also doesn't contain this information. Moreover, the response status code is still 202 (Accepted) while 429 is mentioned in the body 😞

Looks like CosmosDb Table api support is half-baked at this moment. @johlrich you

[2018-01-07 11:53] JasonBSteele opened #42 "Atomic storing and raising of event"
Hi, I've been looking at the examples and have a slight concern that after storing an event, the raising of it could fail resulting in a lack of consistency between the store and the event handlers' materialized views.
The sample at https://github.com/yevhen/Streamstone.m-r shows a `Publish` after a successful `Write` but not how to deal with the `Publish` failing:

            try
            {

[2018-01-08 21:21] yevhen commented on #42
Hi! No, you can't have transaction between azure table and arbitrary storage (projection store). If you absolutely need this you should take a look somewhere else. SQL can give you this (Marten, SQLStreamStore, etc). The alternative could be smth like CosmosDB which support transactions between multiple models (I've never tried it but it's in the docs). To have eventually consistent update of proj

[2018-02-28 11:17] yevhen commented on #40
netstandard20 support has been addressed in version 2.0

[2018-02-28 11:17] #40 closed

[2018-02-28 11:17] #42 closed

[2018-03-09 17:59] tomasaschan opened #44 "Where is the projections sample?"
The link in the readme points to https://github.com/yevhen/Streamstone/blob/master, but that's a 404. I haven't been able to find the sample by browsing the code, either.

Was it removed? Was support for projections also removed, and if not, where can I read up on how it works?

[2018-03-09 22:13] yevhen commented on #44
Take a look at atomic snapshot example [here](https://github.com/yevhen/Streamstone/blob/master/Source/Example/Scenarios/S06_Include_additional_entities.cs) and check Greg's classic CQRS\ES example using SS [here](https://github.com/yevhen/Streamstone.m-r), you will need to switch to `inline_projections` branch (see readme).

Basically, it's all about being able to include additional table entitie

[2018-03-12 09:27] tomasaschan commented on #44
Thanks!

A different, but related, question then, that the sample wasn't able to answer for me (maybe the answer is there and I didn't understand it - if so, some clarification would be much appreciated anyway!):

The samples and example projects all seem concerned with storing events, and then querying for entities by ID, but I haven't yet found a sample that lists entitites. Is that what the [st

[2018-03-12 14:01] yevhen commented on #44
If by entities you mean aggregates backed by streams, then yes, stream directory example shows how to create stream directory which can be used to list all available streams (entities) in a system (or tenant if you have multi-tenant app).

[2018-06-04 08:22] jkonecki commented on #41
You can obtain HTTP status code of the throttled requests:

Please note `Console.WriteLine(ex.RequestInformation.HttpStatusCode);`

[code]

[2018-06-04 10:04] jkonecki opened #46 "CosmosDB concurrency exception handling"
When batch inserting to CosmosDB Table API the error message returned doesn't include the index of the conflicting entity. The test below reproduces the issue (`cosmos_specifics.cs`)
[code]

The following exception is thrown:

`UnexpectedStorageResponseException.ConflictExceptionMessageShouldHaveSemicolonOnFirstLine(error);`

I've asked CosmosDB team for feedback and will update the issue with the

[2018-06-06 07:00] jkonecki commented on #46
Got a tweet from @CosmosDB with confirmation they are fixing it. More info to follow.

[2018-06-06 19:42] jkonecki commented on #46
Update from CosmosDB team:

Regarding the issue where batch operation error message does not indicate the operation index that has failed: yes this is a known issue and we are working on the fix. We don’t have a firm timeline yet but we hope the fix could be rolled out to you in July.

It is also in our roadmap to extend Azure Storage Table APIs to add features you would typically expect from Cosm

[2018-08-21 13:47] Davidsv opened #47 "Duplicate detection entities redundant?"
Hi,
In your image of the schema you have an example of "Duplicate event detection is done by automatically creating additional entity for every event, with RowKey value set to a unique identifier of a source event".

I wanted to try to understand why this is necessary. Is is not enough that you have the event SS-SE-### entities and the SS-HEAD? Because you will get a conflict "by always including

[2018-08-22 05:50] yevhen commented on #47
UID is not the same as SeqID. You can use UID to implement idempotency, think prevention of duplicate form submission. Imagine, you're processing the command off the queue, it something fails between the moment you processed the command and deleting the message from the queue, the command will be retried and you re-processed it again. If you command has unique ID (GUID) you can use it as event UID

[2018-08-22 11:27] Davidsv commented on #47
Thanks. That is a great point. Could it be optional in case idempotency is not needed and you'd want to save some space (it adds up)?

[2018-08-22 12:04] yevhen commented on #47
sure. Just pass EventId.None

[2018-08-22 13:15] mhertis commented on #47
What about deleting old UID entities, if I understand correctly there is no value in storing them?

[2018-08-22 14:06] yevhen commented on #47
Well, yes. But it may not worth the hassle

[2018-08-22 14:22] mhertis commented on #47
Sure. I just tried using command id for event id, it seems that we have cases where one command raise multiple events and this does not work. :)

[2018-08-22 16:43] elucidsoft opened #48 "Would be interesting to adapt this framework for use with FASTER"
I think it would be interesting to adapt this framework for use with [FASTER](https://github.com/Microsoft/FASTER).  It would be extremely fast, and I think a lot of the code dealing with Table Storage specifically could simply be stripped out entirely.

Thoughts?

[2018-08-22 19:30] yevhen commented on #47
@mhertis use EventInclude feature instead. That will work on a batch level

[2018-08-24 12:28] Davidsv opened #49 "Possible for read StreamSlice header to have a lower version than number of retrieved events?"
Hi, imagine this scenario:
- Stream already has 5 events.
- Start reading a streamslice, starting from 1. Azure will start to read current header which has version 5 and search for any events from 1. Azure reads the header entity but is still scanning through the rows...
- From elsewhere a successful batch write on the same stream is done with 30 events including header, header will now have versi

[2018-09-02 14:49] elucidsoft commented on #48
Based on Ayendes review of FASTER and how it's most certainly not a full fledged product but a prototype I am closing this...

[2018-09-02 14:49] #48 closed

[2018-09-03 21:00] yevhen commented on #49
Hi,

Ye, I think it's totally possible.

Nevertheless, I never intended the returned stream header to be consistent with the number of events in the slice. The stream header is returned along with the slice only for informational purposes, like what is the current state of the stream at the time of reading a slice.

That's why `ReadAsync()` api [method](https://github.com/yevhen/Streamstone/blob/m

[2018-10-06 19:41] Davidsv commented on #49
Thanks. In my case, I'll have to account for this. I understand it's just the way table storage works though.

[2018-10-08 08:57] #49 closed

[2018-12-10 14:26] chyczewski-maciej opened #50 "[Question/Possible bug] Is it intended not to support Nullable<DateTime> in PropertyMap?"
Sorry if I'm asking a dumb question here. I have no broad picture of the project's implementation.

I found an anomaly in this method. All struct types are supported together with their Nullable representations. The only exception is DateTime - **DateTime?** is not supported.
Is it intended?

Code currently exists here:
https://github.com/yevhen/Streamstone/blob/08f59f66898358f24b51b7c250b56ae0d51

[2018-12-10 20:49] yevhen commented on #50
Looks like a bug. Don't think there any reason why it was omitted.

[2018-12-11 11:37] yevhen commented on #50
Done!

[2018-12-11 11:37] #50 closed

[2018-12-19 19:48] Scooletz commented on #24
@yevhen Would you consider a PR that would require introducing a global hook on the `Stream.Write` operation? Something similar to [the event of OperationContext](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.operationcontext.globalsendingrequest?view=azure-dotnet)? The API for the stream is static, so that would be probably a prerequisite for doing it. I'm asking as I

[2018-12-19 21:26] yevhen commented on #24
@Scooletz what problem you want to solve with that hook?

I would rather not touch Stream api leaving it to individual stream operations. Instead, what I'm considering is to create a level of indirection, like `EventStore` (non-static) object, where we can replicate stream operations but with added functionality on top.  This may include stream directory management, sharding, global log (with some

[2018-12-20 11:59] Scooletz commented on #24
I want to be able to enable `fromAll` queries, this is why I posted it in here 😅

I'd do it in the following way:

1. before every batch: gather aggregate id + version + event ids that will be appended
1. send a message with ASQ with visibility time set to reasonably long time (initially I thought about 10s) containing this data
1. `batch.Execute()` occurs here

In a separate Azure Function, that

[2018-12-20 19:40] yevhen commented on #24
This *may* work)

The only fragile part I can see here is AQS queue. In case of timeout or error the message will be returned back to the end of the queue, so you can't process any other events anymore until the order is restored. This could be fixed by using some kind of distributed commit log, like Kafka. So SS could provide optimistic concurrency on stream level and Kafka could give a global lo

[2018-12-20 21:05] Scooletz commented on #24
Oh my. Retries. Yeah, this changes everything as the receiver needs to idempotent. Still, as the input, it would work.

[2019-05-21 14:36] LockTar opened #53 "Table per entity or per tenant?"
Hi,

We want some advice.
We are creating a new application with SS. The application will be multi tenant (support multiple customers) solution.

Is it better to use SS with
-  a table per entity
- a table per tenant (customer of us)
- a separate storage account for each tenant
etc

I think it's more a personal decision but maybe there are some limitations were we didn't think of yet. At the momen

[2019-05-22 07:19] jkonecki commented on #53
I would discourage table per entity appraoch as it would increase maintenance. It will also prohibit you from making custom queries that span multiple entities (debugging, production issue investigations, etc)

Table per tenant is the approach I use as it allows for physical separation of tenant data and minimise maintenance by having to worry about 1 storage account for each environment.

I would

[2019-05-22 07:46] LockTar commented on #53
My idea was also for going into this direction. For multiple purposes. Like:

- Legal location to store data
- Easy to delete data for GDPR for particular customer
- Easy to delete data for complete customer

@jkonecki how about the "Organisation" it self? If you have a Storage Account per tenant (Organisation). Do you then have a property in your Organisation entity that points to a particular St

[2019-05-22 08:16] jkonecki commented on #53
At the moment I use table for tenant pattern. I only store 'tenant' in Organisation entity and the Storage Account connection string in an environment variable.
If you want to use 'storage account per entity' pattern than your Organisation entity would have to persist connection string.
I have a special 'infrastructure' tenant where I store the list of all organizations and related technical info.

[2019-05-23 08:20] yevhen commented on #53
Table per tenant +1

Table is a logical entity and a unit of operation. It’s much eaiser to delete everything tenant related (1-call) than with shared table design (you will need full partition scan and some background process)

[2019-05-23 10:10] LockTar commented on #53
I think we are all thinking the same.

What about this suggestion as a best practice:
If you have a multi tenant setup than it is better to use a table per tenant. Each tenant table needs to be managed as well so a master table needs to be in place as well.

- One storage account
    - Master table with all the organisations/tenants
    - Table per tentant for application streams

If physical sepa

[2019-05-23 12:08] yevhen commented on #53
@LockTar 👍

[2019-05-25 10:00] #53 closed

[2019-05-28 12:17] juvis opened #54 "Support for Azure Cosmos DB Azure Table Api?"
Hi
Will Streamstone support using Azure Cosmos DB with Azure Table Api anytime soon?
I'm working on a proof of concept using Streamstone and was hoping that it was possible to use Streamstone with Cosmos DB since Streamstone now uses the Microsoft.Azure.Cosmos.Table api. I tried to run the example scenarios using a connection string to a Cosmos DB with Azure Table Api, but I get the error listed b

[2019-06-20 11:02] gianlucacambareri commented on #54
Check if you have a field or property named "Id", i had same issue, but after raname this field all works fine.

[2019-06-24 10:05] juvis commented on #54
That did the trick! Thanks!

[2019-06-24 10:05] #54 closed

[2019-07-09 17:58] alexgman commented on #44
Gentlemen, I don't know if this would apply to this post, but I would like to be able to aggregate values from my table.

I'm creating a tiny event-sourcing-style function app, where every invocation of a function will write an event to table storage. An example of such an event would be:

![image](https://user-images.githubusercontent.com/4227695/60911610-32329980-a249-11e9-97f0-15ba6c65edd9.png)

[2019-07-10 10:52] yevhen commented on #44
It depends on your scale, latency (time-to-answer) and key cardinality requirements. If number of events in the single partition is low (less than 100K) and this is the batch style query, you can simply iterate partition and aggregate in memory. Otherwise, you need to have a background process (other function) that pre-aggregates the events, using SS provided stream sequence number (ie cursor). Yo

[2019-09-16 04:45] lethek opened #56 "UnexpectedStorageResponseException for duplicates with CosmosDB emulator"
I've been trying the example scenarios from this repo with the CosmosDB Emulator. However, I have not yet tried it with the real CosmosDB.

When I got to the S09_Handling_duplicates scenario, an `UnexpectedStorageResponseException` was thrown by `Streamstone.Stream.WriteOperation.Batch.ParseConflictingEntityPosition` with the message "Unexpected Table Storage response. Details: Conflict exception

[2019-09-16 11:25] yevhen commented on #56
So we just need to trim trailing newline before check, right?

Can you do a PR on this?

[2019-09-17 01:54] lethek commented on #56
I believe so. I'm happy to give it a try making a PR a bit later today.

[2019-09-17 11:17] #56 closed

[2020-02-27 08:00] mhertis commented on #47
If we use EventInclude feature, included events are not considered as events by StreamStone, e.g. version is not incremented for those events and reading from stream do not return them.

What we have found and could work is that we can set the id on the first event while we left remaining events in a batch without id.

[2020-02-27 12:23] yevhen commented on #47
@mhertis for sure, they are just table entities. It's just a way how Streamstone exposes ETG. Nothing more

[2020-04-27 16:08] randomAnon12 opened #59 "Many connections being opened"
Good afternoon,

I wanted to reach out as I am unsure if this is an issue, or a problem with my implementation. I am trying to modify many streams at one time in parallel, and when I do so my application is opening one connection per stream. This is problematic when deploying because I exhaust my connections quite rapidly. I am giving stream stone a singleton for cloud table storage, but it doesn'

[2020-04-27 18:47] yevhen commented on #59
This is normal behavior when writing entities to multiple partitions in parallel for table storage API.
Streamstone has nothing to do with that. You either need to bound (limit) the number of simultaneous writes or scale out to multiple machines. Doing heavy parallel IO can quickly exhaust the number of available sockets on a machine.

[2020-04-27 18:50] ghost commented on #59
Thank you for your rapid response. I am actually having issues with the loads as opposed to the writes. When I attempt to load many data models in parallel from various streams that is when the socket exhaustion occurs.

EDIT
I see up above i didn't specify that. apologies.

[2020-04-27 19:34] yevhen commented on #59
Ye, it makes no difference whether it's read or write. You're doing parallel IO and it's constrained by system resources. Either limit or scale up/scale out.

[2020-04-27 19:35] ghost commented on #59
Gotcha. Thank you very much for your time sir. Your assistance was much appreciated.

[2020-04-27 19:35] #59 closed

[2021-02-15 19:25] seniorquico opened #62 "streamstone.net offline"
More an FYI for anyone coming across the repo and trying to navigate to the project website... It appears the `streamstone.net` domain has gone offline. I recall the website only being a pretty version of the README. I don't believe we're missing anything, just broken links.

[2021-02-16 13:42] yevhen commented on #62
Thanks! I forgot to pay for it ))

[2021-02-16 14:01] yevhen commented on #62
Fixed

[2021-02-16 14:01] #62 closed

[2021-02-16 15:26] seniorquico commented on #62
No worries. Thanks for keeping the lights on here. 😁

[2021-02-23 19:28] colgreen commented on #54
FYI I get the same json serialization error (as discussed above) when running the streamstone unit tests against CosmosDB Table storage... because the test EventData object/type has an Id property.

[2021-02-24 11:17] yevhen commented on #54
@colgreen I don't get it. What's so special about this field? It's just a custom column name. Are there any restrictions on column names in CosmosDB?

[2021-02-24 15:01] colgreen commented on #54
It's interesting that there is a *deserialization* exception when writing a record. My first thought is that the issue is in the Cosmos Table API code somewhere, i.e., it seems to have a problem deserializing the EventId type when *writing* a record. Honestly though, I was just playing with the different storage options, and thought you might be interested to know that the unit tests failed in thi

[2021-03-01 09:28] iamim opened #63 "Catch up with stream operation requires full table scan"
`Stream.ReadOperation` method that is used to catch up with the stream uses `OR` to fetch `HEAD` and latest entries. It turns out that Azure Table queries containing `OR` result in full table scan. As a result, read latency grows linearally with increasing number of entries. I can't provide exact numbers (Azure logs are not avaialble anymore) but it was roughly equal to 1s for 100k rows. This is t

[2021-03-01 10:02] yevhen commented on #63
This is already fixed in recent version https://github.com/yevhen/Streamstone/pull/61

[2021-03-01 10:06] iamim commented on #63
My bad, haven't noticed it.
Had to work around this issue about half a year ago and only now got myself to post it here.

Great library! Thank you!

[2021-03-01 10:06] #63 closed

[2022-06-14 03:45] goldsam opened #64 "Migrate from Microsoft.Azure.Cosmos.Table toAzure.Data.Tables"
The [`Microsoft.Azure.Cosmos.Table`](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table) package has been deprecated in favor of [`Azure.Data.Tables`](https://www.nuget.org/packages/Azure.Data.Tables/). Consider migrating to support `Azure.Data.Tables`.

[2022-09-04 23:23] jjhayter commented on #64
I am not sure if you realized the actual _scope_ of this request. I most certainly share the same sentiment, however before making that very same request I wanted to see what that would entail so in other words, I am not trying to beat you down or admonish you.

I've been going through this codebase for the last 3 days in my private repo as I wanted to port an old POC I had and get it working with

[2022-10-25 19:46] goldsam commented on #64
@Zer010 That's fair. However, this code base is not _huge_.

@yevhen Would you be open to accepting a PR if I invested the work?

[2022-11-08 10:13] jjhayter commented on #64
Yeah I would be happy to help on the PR

[2022-11-08 12:56] yevhen commented on #64
@goldsam @Zer010 Hi guys! Sorry for late reply, was on vacation.

Of course, I'll be happy to accept the PR 🤗